{% extends "app/base.html" %}
<!--  -->
{% block content %}

<div class="container">
 <h2>NFA Tools</h2>
 <div class="card bg-secondary text-white">
   <div class="card-body">
     <div class="container">
         <div class="row">
             <div class="col-12">
               Welcome to NFA tools!. Please read following instructions for usage.
             </div>
         </div>
         <div class="row bor">
           <div class="col-4 border">
             Login:
           </div>
           <div class="col-8 border">
             You may asked to login for the firest access. When this happens,
             Please type user as <span class="text-warning">guest</span>, and
             password as <span class="text-warning">ifna1234</span> when you are requested to login,
           </div>
          </div>
           <div class="row">
             <div class="col-4 border">
               Step1: register family
             </div>
             <div class="col-8 border">
               click "Regist" from toolbar to register new family/individual for assessment
             </div>
            </div>
            <div class="row">
             <div class="col-4 border">
               Step2: edit family
             </div>
             <div class="col-8 border">
               <div>click "Main" from toolbar to select target family</div>
               <div>click "family" button for your target</div>
               <div>add/modify/delete characteristics information (age/gender/etc) of target</div>
             </div>
            </div>
            <div class="row">
             <div class="col-4 border">
               Step3: assess diet
             </div>
             <div class="col-8 border">
               <div>click "Main" from toolbar to select target family</div>
               <div>click "diet" button for your target </div>
               <div>add/modify/delete conventional diet of target</div>
               <div>you will find nutrient balance of the target in the table above</div>
             </div>
            </div>
            <div class="row">
             <div class="col-4 border">
               Step4: recommend diet
             </div>
             <div class="col-8 border">
               <div>click "Main" from toolbar to select target family</div>
               <div>click "diet" button for your target </div>
               <div>add diet recomendation for target to fill nutrient gap</div>
             </div>
            </div>
      </div>
   </div>
 </div>
 <br>
 <div class="card bg-primary text-white">
   <div class="card-body">
     <div>FCT:</div>
       This table shows nutrition composition for 472 food items.
     items are categorized by food group. you can sort data by name,
     volume of nutrients
   </div>
 </div>
 <br>
 <div class="card bg-success text-white">
   <div class="card-body">
     <div>Regist:</div>
       You first need to register family information of your target.
   </div>
 </div>
 <br>
 <div class="card bg-info text-white">
   <div class="card-body">
     <div>Main:</div>
       In this page, you can either (1) edit family member, (2) design diet recommendation
   </div>
 </div>
 <br>
</div>

{% endblock %}
