{% extends "app/base.html" %}
<!--  -->
{% block content %}

<div class="container">
 <h2>FNA Tools</h2>
 <div class="card bg-secondary text-white">
   <div class="card-body">
     <div>Login:</div>
       Welcome to NFA tools!. Please type user as <span class="text-warning">guest</span>, and password as <span class="text-warning">ifna1234</span> when you are requested to login,
   </div>
 </div>
 <br>
 <div class="card bg-primary text-white">
   <div class="card-body">
     <div>FCT:</div>
       This table shows nutrition composition for 472 food items.
     items are categorized by food group. you can sort data by name,
     volume of nutrients
   </div>
 </div>
 <br>
 <div class="card bg-success text-white">
   <div class="card-body">
     <div>Regist:</div>
       You first need to register family information of your target.
   </div>
 </div>
 <br>
 <div class="card bg-info text-white">
   <div class="card-body">
     <div>Main:</div>
       In this page, you can either (1) edit family member, (2) design diet recommendation
   </div>
 </div>
 <br>
</div>

{% endblock %}
