<div class="row">
    <div class="col-3">
        <p>id</p>
    </div>
    <div class="col-9">
        <p>{{ diet.familyid }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>food_item_id</p>
    </div>
    <div class="col-9">
        <p>{{ diet.food_item_id }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Food_name</p>
    </div>
    <div class="col-9">
        <p>{{ diet.Food_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>food_wt</p>
    </div>
    <div class="col-9">
        <p>{{ diet.food_wt }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>diet_type</p>
    </div>
    <div class="col-9">
        <p>{{ diet.diet_type }}</p>
    </div>
</div>
