{% extends 'app/base.html' %}

{% block content %}
	<h5>{{categ}}</h5>
    <table class="table table-bordered table-striped table-sm table-responsive">
			<thead>
				<tr class="table-primary">
					<td>Diet pettern</td>
					<td>food id</td>
					<td>food name</td>
					<td>food weight</td>
				</tr>
			</thead>
			<tbody>
        {% for diet in mylist %}
          <tr>
						<td>{{ diet.diet_type }}</td>
						<td>{{ diet.food_item_id }}</td>
						<td>{{ diet.Food_name }}</td>
            <td>{{ diet.food_wt }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
