{% extends 'app/base.html' %}

{% block content %}
{% load humanize %}

	<h6>Family member of: {{ name }}</h6>
		<table class="table table-bordered table-striped table-condensed">
			<tbody>
				<tr class="success">
					<td>sex</td>
					<td>age</td>
					<td>women status</td>
					<td>Del</td>
				</tr>
				{% for family in families %}
					<tr>
						<td>{{ family.get_sex_display }}</td>
						<td>{{ family.get_age_display }}</td>
						<td>{{ family.get_women_s_display }}</td>
						<td><a class="btn btn-outline-secondary " href="{% url 'delete' family.pk %}">del</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		&nbsp;
		<hr>
			<h6>Add Family member</h6>
		<hr>

		<form method="post">
		    {% csrf_token %}
				<table>
					{{form}}
				</table>
				<input class="btn btn-primary" type="submit" name="btn1" value="Add family"/>

		&nbsp;
		<hr>

		<div class="container text-white">
			<div class="row">
	        <div class="col-12 border bg-success">
	        	Family Nutrition Requirement
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-4 border bg-success">
	        	protein :
	        </div>
	        <div class="col-4 border bg-success">
	        	{{dri_p|floatformat:2}}
	        </div>
	        <div class="col-4 border bg-success">
	        	(g/day)
	        </div>
	    </div>
			<div class="row">
	        <div class="col-4 border bg-success">
	        	vit-A :
	        </div>
	        <div class="col-4 border bg-success">
	        	{{dri_v|intcomma}}
	        </div>
	        <div class="col-4 border bg-success">
	        	(μg/day)
	        </div>
	    </div>
			<div class="row">
	        <div class="col-4 border bg-success">
	        	Fe :
	        </div>
	        <div class="col-4 border bg-success">
	        	{{dri_f|floatformat:2}}
	        </div>
	        <div class="col-4 border bg-success">
	        	(mg/day)
	        </div>
	    </div>
		</div>

		<hr>

		<input class="btn btn-primary" type="submit" name="btn2" value="Back"/>
		</form>

{% endblock %}
