{% extends 'app/base.html' %}

{% block content %}
{% load humanize %}
	<div class="container">
		<div class="row">
			<div class="col-4">
				Family
			</div>
			<div class="col-4">
				{{name}}
			</div>
		</div>
	</div>

	<div class="container text-white">
		<div class="row bg-primary">
			<div class="col-4 border">
				Nutrients
			</div>
			<div class="col-4 border">
				DRI
			</div>
			<div class="col-4 border">
				Current
			</div>
		</div>
		<div class="row">
				<div class="col-4 border bg-secondary">
					protein(g/day)
				</div>
				<div class="col-4 border bg-secondary">
					{{dri_p|floatformat:2}}
				</div>
				<div class="col-4 border bg-secondary">
					{{sum_p|floatformat:2}}
				</div>
		</div>
		<div class="row">
				<div class="col-4 border bg-secondary">
					vit-A(μg/day)
				</div>
				<div class="col-4 border bg-secondary">
					{{dri_v|intcomma}}
				</div>
				<div class="col-4 border bg-secondary">
					{{sum_v|intcomma}}
				</div>
		</div>
		<div class="row">
				<div class="col-4 border bg-secondary">
					Fe(mg/day)
				</div>
				<div class="col-4 border bg-secondary">
					{{dri_f|floatformat:2}}
				</div>
				<div class="col-4 border bg-secondary">
					{{sum_f|floatformat:2}}
				</div>
		</div>
		<div class="row">
		</div>
	</div>

			<hr>

	<div class="container text-white">
		<div class="row bg-primary">
			<div class="col-6 border">
				sex
			</div>
			<div class="col-2 border">
				age
			</div>
			<div class="col-2 border">
				edit
			</div>
			<div class="col-2 border">
				del
			</div>
		</div>
		{% for family in families %}
			<div class="row bg-success">
				<div class="col-6 border">
					{{ family.get_sex_display }}
				</div>
				<div class="col-2 border">
					{{ family.age }}
				</div>
				<div class="col-2 border align-items-center bg-white">
					<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'diet_update' pk=diet.pk  familyid=diet.familyid %}">edit</a></span>
				</div>
				<div class="col-2 border align-items-center bg-white">
					<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'family_delete' pk=family.pk familyid=family.familyid %}">del</a></span>
				</div>
			</div>
		{% endfor %}

		{% if familyid %}
		<td><a class="btn btn-outline-secondary" href="{% url 'diet_create' familyid=familyid %}">add</a></td>
		{% endif %}

{% endblock %}

{% for family in families %}
	<tr>
		<td>{{ family.get_sex_display }}</td>
		<td>{{ family.get_age_display }}</td>
		<td>{{ family.get_women_s_display }}</td>
		<td><a class="btn btn-outline-secondary " href="{% url 'delete' pk=family.pk  familyid=family.familyid %}">del</a></td>
