{% extends 'app/base.html' %}

{% block content %}
{% load humanize %}

	<h6>Family member of: <strong> {{ name }} </strong> </h6>
		<table class="table table-bordered table-striped table-condensed">
			<thead>
				<tr class="table-primary">
					<td>sex</td>
					<td>age</td>
					<td>women status</td>
					<td>delete</td>
				</tr>
			</thead>
			<tbody>
				{% for family in families %}
					<tr>
						<td>{{ family.get_sex_display }}</td>
						<td>{{ family.get_age_display }}</td>
						<td>{{ family.get_women_s_display }}</td>
						<td><a class="btn btn-outline-secondary " href="{% url 'delete' family.pk %}">del</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		&nbsp;
		<hr>
			<h6>Add Family member</h6>
		<hr>

		<form method="post">
		    {% csrf_token %}
				<table>
					{{form}}
				</table>
				<input class="btn btn-primary" type="submit" name="btn1" value="add family"/>
				<td><a class="btn btn-outline-secondary " href="{% url 'family_viewonly' myid %}">finish editing</a></td>
		</form>

		&nbsp;

		<hr>


{% endblock %}
