{% extends 'app/base.html' %}
{% block content %}
	<div class="container">
		<form action="" method="POST">
		{% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <label>add family / individual</label>
                </div>
                <div class="col-4">
										<input type="text" class="form-control" name="newfamily" placeholder="name">
										<input class="btn btn-primary" type="submit" name="btn1" value="add new family"/>
                </div>
            </div>
        </div>
    </form>
  </div>
{% endblock %}
